
/*主体颜色*/

$themeColor :#f12e24;

/*黑色*/

$aColor :#000;

/*a标签字体大小*/

$afontSize:12px;

/*蓝色*/

$ahoverColor:darkturquoise;
a {
    &:hover {
        text-decoration: underline;
    }
}


/*头部*/

.top {
    background: #f6f6f6;
    height: 34px;
    a {
        color: $aColor;
    }
    img {
        height: 30px;
        line-height: 40px;
    }
    .top_l li {
        float: left;
        padding: 4px 5px 0 5px;
    }
    .top_r {
        text-align: center;
        padding-top: 2px;
        .my>div {
            height: 32px;
        }
        .my {
            .top_mask_ul {
                background: #fff;
                display: none;
                z-index: 10;
                position: absolute;
                width: 122px;
                border: 1px solid #ccc;
                border-top: 0;
                li {
                    height: 34px;
                    line-height: 34px;
                    &:hover a {
                        color: $ahoverColor;
                    }
                }
            }
        }
        .weixin {
            position: relative;
            z-index: 10;
            .top_mask_img {
                width: 222px;
                height: 222px;
                display: none;
                position: absolute;
                top: 33px;
                right: 0;
            }
        }
    }
}


/*头部END*/


/*logo*/

.logo {
    .container {
        padding-top: 10px;
    }
    .logo_l {
        h1 {
            .logo1 {
                padding: 0 30px 0 10px;
                img {
                    width: 140px;
                    height: 74px;
                }
            }
            .logo2 {
                padding-top: 6px;
                img {
                    width: 210px;
                    height: 70px;
                }
            }
        }
    }
    .logo_c {
        padding: $afontSize 0 0 41px;
        width: 450px;
        height: 70px;
        input {
            border: 0px;
            height: 34px;
            width: 367px;
            display: block;
        }
        button {
            width: 77px;
            height: 100%;
            background: $themeColor;
            color: #fff;
            display: block;
        }
        .input {
            border: 3px solid $themeColor;
            width: 450px;
            height: 34px;
        }
        .hotSell_r {
            span {
                display: block;
                padding-left: 23px;
                background: url(../img/logo1.png) no-repeat;
            }
            a {
                font-size: $afontSize;
                color: $aColor;
            }
        }
        .hotSell_l a {
            padding: 0 3px;
            font-size: $afontSize;
            color: $aColor;
        }
    }
    .logo_r {
        position: relative;
        .car {
            width: 120px;
            height: 40px;
            background-color: #F7F7F7;
            padding: 0 10px;
            margin-top: 12px;
            margin-right: 10px;
            position: relative;
            .qty {
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                background: $themeColor;
                color: #fff;
                border-radius: 50%;
                position: absolute;
                left: 30px;
                top: -5px;
            }
            .car_l {
                width: 29px;
                height: 29px;
                background: url(../img/logo2.png) no-repeat;
                position: absolute;
                top: 5px;
                left: 10px;
            }
            .car_c {
                position: absolute;
                left: 50px;
                top: 15px;
                color: $aColor;
                font-size: $afontSize;
            }
            .car_r {
                width: 18px;
                height: 18px;
                background: url(../img/logo3.png) no-repeat;
                position: absolute;
                top: 15px;
                left: 110px;
            }
        }
        .car_show {
            width: 280px;
            height: auto;
            position: absolute;
            background: #fff;
            top: 52px;
            left: -262px;
            line-height: 34px;
            min-height: 80px;
            padding: 10px 60px 10px 60px;
            border: 1px solid #ccc;
            display: none;
        }
    }
}


/*logoEND*/


/*导航条*/

.nav {
    background: $themeColor;
    .nav_l {
        height: 34px;
        width: 220px;
        text-align: center;
        line-height: 34px;
        h2 {
            font-weight: bold;
            color: #fff;
            &:hover {
                background: #b8362f;
            }
        }
    }
    .nav_c {
        ul li {
            float: left;
            .last {
                background: #b8362f;
            }
            a {
                height: 34px;
                line-height: 34px;
                display: block;
                padding: 0 10px;
                color: #fff;
                font-weight: bold;
                &:hover {
                    background: #b8362f;
                    text-decoration: none;
                }
            }
        }
    }
}


/*导航条END*/