$aColor :#000;
/*底部信息*/

.bottom_top {
    height: 169px;
    border-bottom: 2px solid #000;
    margin-top: 30px;
    a {
        color: $aColor;
    }
}


.bottom_top_left {
    width: 838px;
    height: 169px;
}

.bottom_top_list {
    float: left;
    width: 115px;
    height: 165px;
    line-height: 20px;
}

.bottom_top_titel {
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}

.bottom_top_rightbox {
    width: 334px;
    height: 149px;
    border: 1px solid #ddd;
    padding-left: 6px;
}

.bottom_top_right {
    height: 29px;
    padding: 2px 6px 2px 0;
    h4 {
        width: 59px;
        height: 29px;
        padding-right: 20px;
    }
}

.bottom_down {
    text-align: center;
    line-height: 20px;
    position: relative;
    padding-top: 10px;
}

.bottom_dfmz {
    position: absolute;
    left: 10px;
    top: 10px;
    img {
        width: 126px;
        height: 42px;
    }
}

.bottom_down_ul {
    width: 900px;
    height: 75px;
    line-height: 70px;
    padding-left: 210px;
    li {
        float: left;
        margin-right: 20px;
    }
}


/*底部信息END*/